/* LOADER 1 */
#loader-transaction {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loader-transaction div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: rgb(70, 70, 70);
  animation: lds-grid 1.2s linear infinite;
}
#loader-transaction div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
#loader-transaction div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
#loader-transaction div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
#loader-transaction div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
#loader-transaction div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
#loader-transaction div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
#loader-transaction div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
#loader-transaction div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
#loader-transaction div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
/* END LOADER 1 */

/* LOADER 2 */
 #shop-loader {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#shop-loader div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: rgb(70, 70, 70);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
#shop-loader div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}
#shop-loader div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}
#shop-loader div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}
#shop-loader div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}
#shop-loader div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}
#shop-loader div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}
#shop-loader div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}
#shop-loader div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}
#shop-loader div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}
#shop-loader div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}
#shop-loader div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}
#shop-loader div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}
@keyframes lds-default {
  0%, 20%, 80%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}
/* END LOADER 2 */

/* Animations */
@keyframes blink{
    50%{transform: scale(1.2);}
}

.blinking{
    animation: blink 1s ease-out infinite;
}
/* End Animations */

.orange-yellow{
    color: #D6AA2F;
}

.not-selectable {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.swal-modal .swal-text {
    text-align: center;
}

/* ===== Punya e Footer ===== */
.contact-location{
    color: #ecb319;
    font-size: 1rem;
    font-weight: 600;
}
#hirosolution-tm{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer-additional-section{
    margin-top: 16px;
    padding-bottom: 0px;
}
/* ===== Akhir Punya e Footer ===== */

/* ===== PUNYA E INDEX ===== */
.home-product-base-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    font-size: 16px;
}
.home-product-base{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 95%;
    margin-top: 5%;
    border: 1px solid rgb(224, 224, 224);
    transition: .3s ease-out;
    cursor: pointer;
}
.home-product-base:hover{
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
}
.home-product-top{
    position: relative;
    width: 100%;
    height: 62%;
    overflow: hidden;
}
.home-product-top img{
    height: auto;
    max-width: 90%;
    max-height: 92%;
}
.home-product-stock{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 4em;
    height: 2.2em;
    border-radius: 0 0 1em 0;
    transition: .4s ease-in;
    color: white;
}
.home-product-stock:hover{
    filter: opacity(0.35);
}
.home-product-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.home-product-bottom{
    width: 100%;
    height: 38%;
}
.home-product-interaction{  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.home-product-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.home-product-group{
    font-size: .8em;
}
.home-product-name{
    font-size: 1.1em;
}
.home-product-price{
    font-size: .9em;
}
.home-product-buy{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    transition: .3s ease-out;
    cursor: pointer;
}
.home-product-buy:hover{
    background-color: rgb(231, 231, 231);
}
.home-product-buy img{
    width: 90%;
    height: 90%;
}
/* ===== AKHIR PUNYA E INDEX ===== */

/* ===== PUNYA E SHOP ===== */
.shop-product-base-container{
    padding-top: 18px;
    height: 480px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.shop-product-brand-container {
    height: auto;
    width: 94%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.shop-product-brand {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
    width: 100px;
    height: auto;
}
.shop-product-brand img{
    height: auto;
    max-width: 100%;
}
.shop-product-base{
    border: 1px solid rgb(177, 177, 177);
    width: 94%;
    height: 86%;
    transition: .3s ease-in;
    overflow: hidden;
}
.shop-product-base:hover{
    box-shadow: 2px 4px 6px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 4px 6px 0px rgba(0,0,0,0.2);
}
.shop-product-top{
    position: relative;
    width: 100%;
    height: 74%;
    overflow: hidden;
    z-index: 898;
}
.shop-product-stock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(185, 185, 185, 0);
    color: white;
    position: absolute;
    font-size: 1em;
    width: 5.2em;
    height: 2.5em;
    border-radius: 0 0 20px;
    top: 0;
    left: 0;
    transition: .4s;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    z-index: 899;
}
.stock-ready{
    background-color: rgba(9, 161, 141, 0.6);
}
.stock-limited{
    background-color: rgba(207, 119, 17, 0.6);
}
.stock-indent{
    background-color: rgba(172, 4, 4, 0.6);
}
.shop-product-stock:hover{
    filter: opacity(0.35);
}
.shop-product-fave {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    right: 2px;
    cursor: pointer;
    z-index: 899;
}
.shop-product-fave img{
    height: 100%;
}
.shop-product-image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.shop-product-image img{
    width: auto;
    max-width: 90%;
    max-height: 100%;
}
.shop-product-bottom{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 26%;
    box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.2);
    z-index: 899;
}
.shop-product-interaction{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 88%;
    height: 84%;
}
.shop-product-desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 66%;
}
.shop-product-name{
    cursor: pointer;
    font-size: 1.2em;
}
.long-text{
    font-size: .9em
}
.shop-product-buy{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(148, 148, 148);
    width: 48px;
    height: 48px;
    transition: .25s;
    cursor: pointer;
}
.shop-product-buy:hover{
    background-color: rgb(231, 231, 231);
}
/* ===== AKHIR PUNYA E SHOP ===== */

/* ===== PUNYA E SHOP-DETAIL ===== */

.product_code {
    font-family: 'Poppins', sans-serif;
    font-size: 16pt;
}

.yith-wcwl-add-button {
    margin-top: 4%;
}

.add_to_cart_button {
    cursor: pointer;
}

#normal-cart-list,
#indent-cart-list {
    max-height: 50vh;
    margin-bottom: 16px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.lnr-cross,
.remove,
.button {
    cursor: pointer;
}

/* Tile Calculator */
#tile-calculator-base{
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    font-size:13px;
    transition: 0.4s ease-out;
    transition-delay: 0.3s;
    z-index: 999999;
}
#tile-calculator-modal{
    width: 24vw;
    padding-top: 12px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transform: translateY(1400px);
    border-radius: 12px;
    transition: 0.5s ease-in-out;
    background-color: white;
}
#tile-calculator-header{
    font-size: 2em;
    width: 100%;
    height: 17%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tile-calculator-comp-base{
    width:90%;
    height:83%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
#tile-calculator-top,#tile-calculator-stock{
    width: 80%;
}
#tile-calculator-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 16px;
    height: 50%;
}
#tile-calculator-pcs, #tile-calculator-carton, #tile-calculator-m2{
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tile-calculator-input{
    width: 100%;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
    text-align: center;
}
#tile-calculator-stock{
    height: 50%;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tile-calculator-stock span{
    font-size: 3em;
}
#tile-calculator-unit{
    font-size: 1em;
    margin-top: -12px;
}
#tile-calculator-button-container{
    margin-top:12px;
}
.calc-info{
    margin-top: 6px;
    font-size: 1.2em;
}
.superscript{
    vertical-align: super;
    font-size: 0.8em;
}
/* Akhir Tile Calculator */

/* Pilihan Sizes */
#sizes-base-container {
    margin-bottom: 22px;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 14px;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: aqua; */
}

#sizes-header {
    width: 95%;
    height: auto;
    color: black;
    font-size: 1.6em;
    /* background-color: blueviolet; */
}

#sizes-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* background-color: burlywood; */
}

.sizes-boundary {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
    height: 54px;
}

.sizes-selection {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 86%;
    height: 74%;
    border: 1px solid rgb(201, 201, 201);
    color: rgb(201, 201, 201);
    border-radius: 10px;
    transition: .2s;
    /* padding-left: 18px;
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px; */
}

/* .sizes-selection:not(:first-child){
    margin-left: 10px;
    margin-left: 1%;
} */

.size-available {
    border: 1px solid rgb(15, 15, 15);
    color: rgb(15, 15, 15);
}

.sizes-selection:hover {
    background-color: gray;
    color: white;
}

.sizes-selection.size-available:hover {
    background-color: rgb(32, 201, 151);
    border: 1px solid rgb(26, 184, 136);
    color: white;
}

/* Akhir Pilihan Sizes */

/* Pilihan Shading */
#set-shading{
    background:#4e4e4e;
    color:white;
    margin-bottom:16px;
    border: none;
}
#set-shading i{
    margin-right: 10px;
}
#shading-base-container{
    margin-top: 20px;
    margin-bottom: 22px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    transition: 1s;
    /* background-color: aqua; */
}
#shading-header{
    height:auto;
    color: black;
    font-size: 16px;
    padding-bottom: 8px;
    /* background-color: blueviolet; */
}
#shading-container{
    width: 100%;
}
#shading-table{
    width: 100%;
}
#shading-table td{
    padding: 16px;
}
input[type=number]{
    width: 80px;
}
input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #e6e6e6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #b8b8b8;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5px;
  transition: .2s;
}
input[type=range]::-webkit-slider-thumb:hover{
    background-color: #20c997;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #e6e6e6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #b8b8b8;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  transition: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background: #b8b8b8;
  cursor: pointer;
}
/* Akhir Pilihan Shading */

/* ===== AKHIR PUNYA E SHOP-DETAIL ===== */

/* ===== PUNYA E CART LIST ===== */
.order-subtotal td{
    font-size: 19pt;
}
.order-subtotal th{
    font-size: 14pt;
}
/* ===== AKHIR PUNYA E CART LIST ===== */

@media (max-width: 575px) {
    .div-test {
        background-color: white;
        top: 52px;
        left: -20px;
        position: absolute;
        z-index: 100;
    }
}


/* =====  LOGIN  ===== */

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding: 10px;
    background: #6c757d;
    color: white;
    min-width: 50px;
    padding-top: 13px;
    text-align: center;
}

.toggle-visible {
    padding: 10px;
    background: white;
    color: grey;
    min-width: 50px;
    padding-top: 13px;
    text-align: center;
}

.toggle-dropdown {
    padding: 10px;
    background: white;
    color: grey;
    min-width: 50px;
    padding-top: 13px;
    text-align: center;
}

.toggle-visible:hover {
    padding: 10px;
    background: #1ABC9C;
    color: white;
    cursor: pointer;
    min-width: 50px;
    padding-top: 13px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
    border: 2px solid transparent;
    transition: .3s;
    background: white;
}

.input-field:focus {
    border: 2px solid #1ABC9C;
}

.swal-container {
    z-index: 2000;
}

;
html {
    scroll-behavior: smooth;
}

.activetab {
    color: #1ABC9C
}

.kategori {
    color: grey;
    margin-left: 20px;
}

.input-border {
    border: 1px solid lightgrey;
    border-left: 0px;
}

.zmdi-favorite-outline,
.zmdi-favorite {
    color: red;
}

#registerlink:hover {
    text-decoration: underline;
}

/* .tombol-favorite {
    margin-right: 20px; 
} */

.favorite {
    height: 35px;
    width: 35px;
}
.borderRight{
    border-right:1px solid grey;
    border-left:1px solid grey;
}
.border{
    border:1px solid grey;
}
.au-btn:hover{
    background:white;
}

/* =====  AKHIR LOGIN  ===== */


/* ===== PUNYA E TRANSACTION ===== */

.unpaid {
    color: red;
}
.paid {
    color: green;
}
/* Kalo empty message, center content */
#real-content .empty-message-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#favoriteTable .empty-message-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#transaction-tab-container{
    padding-bottom: 8px;
    margin-bottom: 12px;
    border-bottom: 1px solid rgb(235,235,235);
}
.toggle-trans{
    cursor: pointer;
}
.toggle-trans:hover{
    text-decoration: underline;
}
.selected-trans{
    color: rgb(0,123,255);
}
.empty-message-container{
    padding-top: 64px;
    padding-bottom: 64px;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}
.empty-message-container img{
    width: 68%;
}
.empty-message-container h2{
    margin-bottom: 24px;
}
#empty-message{
    text-align: center;
    margin-top: 10px;
    font-size: 18pt;
}
/* ===== AKHIR PUNYA E TRANSACTION ===== */

/* ===== PUNYA E SHIPPING ORDER ===== */
#so-body{
    margin: 0px 0px 100px;
    padding: 16px 0px;
    display: flex;
    height: auto;
    width: 100%;
    font-size: 12px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-y: scroll;
}
#so-directions-container{
    position: relative;
    width: 98%;
    background-color: rgba(221, 144, 2, 0.25);
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.3em;
}
#so-close{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
#so-header-container{
    margin-bottom: 18px;
    width: 98%;
    height: 38vh;
    display: flex;
    flex-direction: row;
    font-size: 1em;
}
.so-header-part-container{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(151, 151, 151);
    border-right: 1px solid rgb(151, 151, 151);
    border-bottom: 1px solid rgb(151, 151, 151);
}
.so-header-part-container:first-child{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 1px solid rgb(151, 151, 151);
}
.so-header-part{
    width: 90%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 1em;
}
#so-company img{
    width: 140px;
    height: auto;
}
.so-header-part i{
    margin-right: 6px;
}
.so-header-part h4{
    margin-top: 12px;
    margin-bottom: 6px;
}
.so-header-part h5{
    margin-bottom: 6px;
    font-weight: normal;
}
.so-header-part .so-header-content{
    font-size: .9em;
}
.so-inside-header{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgb(151, 151, 151);
}
.so-header-content{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.so-header-content > span{
    margin-top: 8px;
    font-size: 1.1em;
}
.so-header-content > span b{
    font-weight: 600;
}
#so-items-container{
    width: 96%;
    height: auto;
    margin-bottom: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#so-info{
    padding-top: 8px;
    width: 100%;
    display: flex;
}
#so-info i {
    margin-right: 8px;
}
#so-info span:not(:first-child){
    margin-left: 14px;
}
#so-items-container table{
    width: 100%;
    height: auto;
}
#so-items-container table th{
    text-align: center;
    font-weight: 500;
    padding: 8px 0px 8px;
    border: 1px solid rgb(151, 151, 151);
}

#so-items-container table td{
    text-align: center;
    padding: 8px 0px 8px;
    border: 1px solid rgb(185, 185, 185);
}
.so-product-image{
    height: 120px;
}
#so-footer-container{
    width: 98%;
    height: 40vh;
    display: flex;
    /* background-color: wheat; */
}
#so-tc-container{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#so-tc{
    width: 97%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#so-tc ol{
    padding-left: 1em;
}
#so-tc h4{
    margin-bottom:8px;
}
#so-right{
    width: 40%;
    height: 100%;
    display: flex;
}
.so-tt{
    width:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.so-tt-header,.so-tt-signature,.so-tt-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
.so-tt-header{
    height: 25%;
    width: 100%;
    align-items: flex-end;
}
.so-tt-signature{
    height: 50%;
    width: 100%;
}
.so-tt-title{
    height: 25%;
    width: 100%;
    align-items: flex-start;

}
#so-button-container{
    width: 97%;
    margin-right: 3%;
    padding-top: 12px;
    display: flex;
    justify-content: flex-end;
}
#so-button-container button{
    width: 90px;
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 991px) and (min-width: 768px){
    #sizes-base-container{
        font-size: 11px;
    }
    #tile-calculator-modal{
        width: 60vw;
    }
}
/* Small Screen ( <= 767px ) */
@media screen and (max-width: 767px){ 
    html{
        font-size: 11px;
    }
    #tile-calculator-modal{
        width: 80vw;
    }
    #so-header-container{
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .so-header-part-container{
        width: 92%;
        padding: 18px 0px 18px;
        border-left: 1px solid rgb(151, 151, 151);
        border-right: 1px solid rgb(151, 151, 151);
        border-bottom: 1px solid rgb(151, 151, 151);
    }
    .so-header-part-container:first-child{
        width: 92%;
        border-top: 1px solid rgb(151, 151, 151);
    }
    .so-header-part{
        align-items: center;
    }
    .so-inside-header{
        justify-content: center;
    }
    .so-header-content{
        width: auto;
    }
}

@media print {
    #so-header-container{
        height: 20vh;
        font-size: 0.8em;
    }
    #so-button-container{
        display: none;
    }
}
/* ===== AKHIR PUNYA E SHIPPING ORDER ===== */